body{
    background-color: grey;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    margin: 0;
    font-size: 1rem;
}
h1 {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-size: 5rem;
    text-align: center;
}
h2{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.quiz{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.item{
    font-family: "Protest Riot", sans-serif;
    width: 100px;
    height: 100px;
    border-radius: 25%;
    border: 3px solid black;
    font-weight: 400;
    font-size: 2.5rem;
}
.number{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cyan;
    
}
.answer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B56FCD;
    transition: 0.2s;
    cursor: pointer;
}
.answer:hover{
    background-color: #AD47D0;
    transition: 0.2s;
}
.answer:active{
    background-color: #7907A0;
    transition: 0.2s;
}
#operator{
    font-size: 80px;
    font-weight: 250;
}
